@charset "UTF-8";

/* ----------------------------------------------------------
    Globais
---------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
     
    min-height: 100vh;

    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



/* ----------------------------------------------------------
    IPHONE
---------------------------------------------------------- */

div > img#iphone {
    display: block;
    margin: auto;

}

