@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg); /* imagem de fundo do site */
    background-size: cover; /*imagem fica infinita */
    background-repeat: no-repeat top center; /* imagem não repete*/
    background-attachment: fixed;  /* efeito parallax */
}

main {
    position: relative;  /* pai */
    height: 100vh;

}

/* ----------------------------------------------------------
    IPHONE
---------------------------------------------------------- */

#iphone {
    position: absolute; /* filho */
    top: 50%; /* move 50% da altura do pai para baixo */
    left: 50%;  /* move 50% da largura do pai para a direita */
    transform: translate(-50%, -50%); /* não entendi esse */
    
    height: 627px;
    width: 311px;
    background-image: url(../imagens/frame-iphone.png);
}




/* ----------------------------------------------------------
  FRAME
---------------------------------------------------------- */

iframe#tela {
    position: relative;
    top: 296px;
    left: 908px;
    width: 269px;
    height: 471px;
}


/* ----------------------------------------------------------
    ICONES DAS REDES SOCIAIS
---------------------------------------------------------- */

#redes-sociais{ /*configuração para a div do ID? */
    position: absolute; /* filho */
    top: 25%; /* move 25% da altura do pai para a baixo ou cima? */
    left: 95%; /* move 95% da altura do pai para a direita? */

}

#redes-sociais img { /* configurações só para as imagens do ID */
    display: block; /* cada imagem ocupa uma linha */
    padding: 10px; /* espaçamento vertical entre os itens */
    width: 85px; /* tamanho da imagem */
    border-radius: 50%; /* deixar a imagem redondinha */
}

/* ANOTAR
nav#redes-sociais img:hover { 
    border: 2px solid rgba(255, 255, 255, 0.365);
    transform: translate(-3px, -3px); 
    box-shadow: 5px 5px 10px black;
    transition: transform .3s, border 1s;  
}    */
